
body {
  background-color: #8FBC8F;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: black;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

#lu-image img {
  height: 140px;
  margin-top: 20px;
}
